# --- Python File temporanei e compilati ---
__pycache__/             
*.py[cod]                
*$py.class

# --- Ambienti Virtuali e Segreti ---
venv/                     
.venv/
env/
ENV/

# --- Cartelle Dati ---
# resources/*
# !resources/.gitkeep
