# 1. Ambiente virtuale
venv/
.venv/

# 2. File compilati di Python e cache
__pycache__/
*.py[cod] 
# È un modo contratto per dire a Git di ignorare tutti i file con estensione .pyc, .pyo o .pyd.
*$py.class

# 3. Chiavi di accesso e variabili d'ambiente
env/
.env

# 4. (Opzionale) Configurazione dell'editor
.vscode/
.idea/

# 5. File di sistema
.DS_Store
Thumbs.db

# Ignora Cartella e tutto il contenuto...
resources/

# Ignora Cartella e tutto il contenuto... tranne config_example.json
data/* 
!data/config_example.json